INCLUDE("app_common.cfg");
#if TKERNEL_PRID == 0x0007
INCLUDE("tecsgen.cfg");
#endif
#include "app.h"
#include "ev3.h"

DOMAIN(TDOM_APP) {
  CRE_TSK(MAIN_TASK, {TA_NULL, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL} );
  CRE_CYC(CYC0, {TA_STA, {TNFY_ACTTSK, MAIN_TASK}, 50U * 1000, 500U *1000 });
}

ATT_MOD("app.o");
ATT_MOD("auto_transporter.o");
ATT_MOD("line_tracer.o");
ATT_MOD("bumper.o");
ATT_MOD("carrier.o");
ATT_MOD("walldetector.o");
ATT_MOD("linemon.o");
ATT_MOD("driver.o");
ATT_MOD("util.o");
